@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s forwards;
}

input {
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #6b46c1; /* Darker shade of purple */
    box-shadow: 0 0 0 0.2rem rgba(107, 70, 193, 0.25); /* Add shadow on focus */
}
